.spinner {
  width: 300px;
  height: 500px;
  border-radius: 100%;
  position: relative;

  /* z-index: 100; */
}
.spinner > .discount-content-container {
  position: fixed;
  top: 15%;
  left: -20%;

  border-radius: 100%;

  margin: auto;
  pointer-events: none;
}

.discount-content {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid gray;
  top: 0;
  left: 0;
}

.discount-content > .discount-content-text {
  font-weight: bold;
  color: #fff;
  transform: rotate(30deg);
}
