:root {
  --button-background: #111827;
  --input-background: #e5e7eb;
}

.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-group {
  padding: 0 2rem;
  margin-top: 3rem;
}

.input-label-container > .input-label {
  font-weight: bold;
  /* margin: 0 2rem; */
}

.input-container {
  margin-top: 0.5rem;
  /* margin: 1 2rem; */
}

.input-container > .input-text {
  background-color: var(--input-background);
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem 0rem 1rem 1rem;
  width: 100%;
}

.button-container {
  width: 100%;
  padding: 0 2rem;
  margin-top: 1rem;
}

.button-container > .save-button {
  background-color: var(--button-background);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.button-container > .save-button:hover {
  background-color: #000;
}
